{% extends 'base.html' %}

{% block title %}
Регистрация
{% endblock %}

{% block body %}
<div class="container" style="max-width: 50%; margin: auto; display: flex; justify-content: center; align-items: center; height: 100vh;">
  <form method = "post">

    <h1 class="h3 mb-3 fw-normal">Пожалуйста, войдите в аккаунт</h1>

    <div class="form-floating">
      <input type="text" name = "login" class="form-control" id="floatingInput" placeholder="Логин">
      <label for="floatingInput">Логин</label>
    </div>
    <div class="form-floating">
      <input type="password" name = "password" class="form-control" id="floatingPassword" placeholder="Пароль">
      <label for="floatingPassword">Пароль</label>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
       {% if messages %}
           <ul>
               {% for category, message in messages %}
                   <li class="{{ category }}">{{ message }}</li>
               {% endfor %}
           </ul>
       {% endif %}
{% endwith %}
    <br>
    <input type="submit" class = "btn btn-primary w-100 py-2" value="Войти">
    <br>
    <br>
    <a href ="/reg" class = "btn btn-success"> Регистрация </a>
  </form>
</div>
{% endblock %}